h1 {
  font-family: Avenir, Roboto, Helvetica, sans-serif;
  color: white;
  font-weight: bold;
  background-color: black;
}

p {
  font-family: Avenir, Roboto, Helvetica, sans-serif;
  color: red;
  font-weight: bold;
  background-color: black;
}

body {
  background-color: black;
}
